.custom-window {
  height: 100%;
}

.window-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* height: calc(100% - 42px); */
  box-shadow: 0px 1px 3px black;
  height: 100%;
}

.inner-window-body {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.inner-window-nav {
  height: 5em;
  background-color: rgb(220, 228, 213);
  border-top-color: #a9bdea;
  border-top-style: solid;
}

.inner-window-sidebar {
  width: 300px;
  height: 100%;
  background-color: rgb(169, 183, 233);
  border-top-color: #a9bdea;
  border-top-style: solid;
}

.inner-window-body-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: white;
}


.title-bar {
  /* box-shadow: 0px 1px 3px black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 .2em .3em #a9bdea, inset 0 -0.1em .3em #799bec, 0px 1px 3px black;
  border-left: 0px;
  height: 35px;
  background-color: #92AEEE;
  border-top-color: #a9bdea;
  border-top-style: solid;
}

.title-bar-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0.5rem;
}

.title-bar-header img {
  width: 1.50rem;
  height: 1.50rem;
}

.title-bar-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 1.50rem;
}

.title-bar-controls button {
  font-size: 0;
  border-radius: 0px;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 1.60rem;
  width: 1.60rem;
}

nav {
  height: 2em;
  width: 100%;
  border-bottom: .75px solid rgb(127, 132, 123);
}

.inner-window-nav button {
  border: none;
  padding: 0;
  background-color: transparent;
  color: black;
  padding-right: 2em;
  padding-top: .4em;
}

.inner-window-nav button:first-of-type {
  padding-left: 1em;
}
.minimize {
  background-image: url('/windows-xp-remix/window-control-icons/minimize-button-sml2.png');
}

.maximize {
  background-image: url('/windows-xp-remix/window-control-icons/maximize-button-updated-sml.png');
}

.close {
  background-image: url('/windows-xp-remix/window-control-icons/close-button-updated-sm.png');
}