nav {
  display: flex;
  height: 1.5em;
  width: 100%;
  padding-bottom: .25em;
  border-bottom: .75px solid rgb(127, 132, 123);
}

.nav-wrap {
  display: flex;
  flex: .5;
}

.inner-window-nav {
  height: 5em;
  background-color: rgb(220, 228, 213);
  border-top-color: #a9bdea;
  border-top-style: solid;
}

.menu-bar-left {
  padding-right: 1em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  /* gap: 1em; */
  flex: 1;
}

.menu-bar-right {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: .75px solid rgb(127, 132, 123);
  border-left: .75px solid rgb(127, 132, 123);
}

.menu-bar-right img {
  padding: 0 .35em;
  display: inline-block;
  width: 1.5em;
}

.nav-icons {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-icons div {}

.nav-icons div img {
  width: 2em;
  height: 2em;
}

.nav-icons-left {
  padding-right: 1em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  flex: 1;
}

.nav-icons-right {
  display: flex;
  align-items: center;
  padding: 0 .5em;
  flex: .5;
  justify-content: space-around;
  border-right: .75px solid rgb(127, 132, 123);
}

.nav-icons-right img {
  padding: 0 .35em;
  display: inline-block;
  width: 1.5em;
}

.nav-icons-right-2 {
  flex: 1;
  padding-right: .5em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  flex: 1;
  border-right: .75px solid rgb(127, 132, 123);
}

.nav-icons-far-right {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  flex: 5;
}

.nav-search-bar-warp {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.nav-icons-far-right label {
  width: 100%;
}

.nav-icons-far-right span {
  display: block;
}

.nav-icons-far-right label {
  display: flex;
  color: rgb(124, 124, 124);
}

.nav-search-bar-input-warp {
  margin-left: .5em;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: white;
}

.input-adornment-wrap {
  background-color: rgba(128, 128, 128, 0.459);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

#input-adornment {
  height: .50em;
  width: .50em;
}

#nav-icons-arrow-down {
  height: .50em;
  width: .50em;
}

#nav-search-bar {
  background-color: white;
  padding: 0 .5em;
  margin-left: .5em;
  width: 100%;
  border: none;
}

#nav-search-bar:focus {
  outline: none;
  color: black;
}