.desktop {
  position: relative;
  height: 100%;
  /* background-image: url('/windows-xp/windowsXPv2.jpg'); */
  /* background-image: url('/windows-xp-remix/valleyBackground.webp'); */
  background-image: url('/windows-xp-remix/rainToShineValleyWeb.webp');


  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.file {
  cursor: move;
  width: 100px;
  height: 100px;
  background-color: yellow;
}

.toolbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
}

.title-bar.toolbar {

  box-shadow: inset 0 .2em .3em #a9bdea, inset 0 -0.1em .3em #799bec;
  border-left: 0px;
  height: 35px;
  background-color: #92AEEE;
  border-top-color: #a9bdea;
  border-top-style: solid;
}

.start-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 100%;
  padding: 0.3em 1em 0.3em 0;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: white;
  background: linear-gradient(to bottom, #c3e6a1, #a6cf74);
  border: 1px solid #4c7902;
  border-left: 2px solid #4c7902;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 
    inset -1px -1px 0 rgba(255, 255, 255, 0.3), /* inner top-left gloss */
    inset 1px 1px 2px rgba(0, 0, 0, 0.3),       /* inner bottom-right shading */
    1px 1px 2px rgba(0, 0, 0, 0.4);            /* outer shadow */
  background-clip: padding-box;
  cursor: pointer;
  user-select: none;
 }
 .start-btn img {
  display: inline-block;
  width: 1.5em;
  /* height: 100%; */
 }

 @font-face {
  font-family: 'Tahoma';
  src: url('/windows-xp-remix/fonts/tahoma.ttf') format('truetype');
 }

 .start-btn span { 
  font-family: Tahoma, sans-serif;
  margin-top: 0.2em;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  margin-left: 0.5em;
 }

 .start-btn:hover {
  background: linear-gradient(to bottom, #a6cf74, #c3e6a1);
 }

 .start-btn:active {
  background: linear-gradient(to bottom, #92AEEE, #799bec);
  box-shadow: 
    inset -1px -1px 0 rgba(255, 255, 255, 0.3), /* inner top-left gloss */
    inset 1px 1px 2px rgba(0, 0, 0, 0.3),       /* inner bottom-right shading */
    1px 1px 2px rgba(0, 0, 0, 0.4);            /* outer shadow */
 }
 