.desktop {
  position: relative;
  height: 100%;
  /* background-image: url('/windows-xp/windowsXPv2.jpg'); */
  /* background-image: url('/windows-xp-remix/valleyBackground.webp'); */
  background-image: url('/windows-xp-remix/rainToShineValleyWeb.webp');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.file {
  cursor: move;
  width: 100px;
  height: 100px;
  background-color: yellow;
}
